.photo {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 5px;
}

.boxDialog  {
    position: relative;
}

.boxDialog .dialogName {
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    margin-left: 10px;

    font-family: 'Righteous', cursive;

    position: absolute;
    top: 50%;
    left: 70%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.boxDialog .dialogName:hover {
    font-size: 23px;
    transition: 0.8s;
}

