.container {
    padding: 5px;
}

.contactsBox {
    border: 1px solid black;
    margin: 8px;
}

.item {
    font-weight: bold;
}

.network .nameNetwork{
    display: inline-block;
}

.network {
    color: orangered;
}

.nameNetwork {
    color: black;
    font-style: italic;
}

.contacts::first-line {
    font-weight: bold;
}

.formSummaryError {
    color: red;
    font-weight: bold;
    font-size: 12px;
    border: 2px solid red;
}
