.photo {
    width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: bold;
}

.pageBox {
    margin-left: 5px;
    margin-top: 10px;
}

.pageBox span {
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
}